/*--------Box Sizing--------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*---------Global Styles--------*/
body{
font-family: 'Baloo Chettan 2', cursive;
  margin:0;
 
}
header.primary{
  background-color:#9CF060;
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px 20px #000;
  /*Longform*/
padding-top:40px;
padding-right:40px;
padding-bottom:20px;
padding-left:40px;

  /* Shorthand Top/Bottom, Left/Right*/
padding: 20px 40px;
/*Shorthand T,R,B,L*/
padding: 40px 40px 20px 40px;

padding:100px;

}

header.primary h1{
  font-size:3.2rem;
  margin: 20px  0;
  }
header.primary h1 a{
  text-decoration:none;
  color:
}

header.primary nav{
  background:red;
  width:80vw;
  margin: 20px auto;
}
 header.primary nav ul{
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   padding:0;
 }
 
 header.primary nav ul li{
   list-style-type:none;
   padding:10px;
 }
 
 header.primary nav ul li a{
   color:ffffff;
   
 }




